:root {
    --tooltipWidth: 25vw; /* tooltips will be expanded to this horizontal size by description text before wrapping */
}

html {
    background-color: #808080;
    width:100vw;
    height:100vh;
    overflow:hidden;
}

div {
    box-sizing: border-box;
}

div.fullscreen {
    width:100vw;
    height:100vh;
    top:0px;
    left:0px;
    position:absolute;

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}

#uicontainer, #floatercontainer {
    pointer-events:none;
}

#uicontainer>* {
    pointer-events:auto;
    position:absolute;
}

canvas {
    /*background-color: white;*/
    border: 0px none transparent;
}

.dragging {
    cursor:move;
}

.hovering>div>canvas {
    cursor:pointer;
}

.uibackground {
    background:#202020;
    font-family: "courier new", "courier", monospace;
    color: #E0E0E0;
}

.error {
    color:#FF2222;
}

/* ######################################################################## */

.SelectionWindow {
    position: absolute;
    transition: bottom 0.15s;
    transition-timing-function: ease-in-out;
}

.SelectionDisplay {
    position: absolute;
    width: 300px;
    height: 150px;
    pointer-events:auto;
}

.ButtonGrid {
    position: absolute;
    height:150px;
    overflow: hidden;
}

.ButtonGrid.background, .ButtonGridInner {
    background:#202020;
}

.ButtonGridInner {
    top:0px;
    left:var(--scroll);
    position:relative;
    height:100%;
    max-height:100%;
    padding:0 2px 2px 0;

    display:inline-grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(var(--columns), auto);
}

.ButtonGridScroll {
    top:0px;
    position:absolute;
    display:inline-block;
    height:100%;
    width:36px;
    background-color:#808080;
    z-index:10;
    cursor:pointer;
}
.ButtonGridScroll:hover {
    background-color:#A0A0A0;
}
.ButtonGridScroll:active {
    background-color:#C0C0C0;
    color:#FFFFFF;
}

.ButtonGridScroll::after {
    width:100%;
    height:20%;
    text-align:center;
    display:block;
    position:absolute;
    font-size:36px;
    top:calc(50% - 19px);
}
.ButtonGridScroll.left::after {
    content:"<";
}
.ButtonGridScroll.right::after {
    content:">";
}

.ButtonGridScroll:not(.disabled)::before {
    content:"";
    position:absolute;
    top:0;
    height:100%;
    width:25px;
    pointer-events:none;
}
.ButtonGridScroll.left:not(.disabled)::before {
    left:100%;
    background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0));
}
.ButtonGridScroll.right:not(.disabled)::before {
    right:100%;
    background-image: linear-gradient(to left, rgba(0,0,0,0.5), rgba(0,0,0,0));
}

.ButtonGridScroll.disabled {
    background-color:#404040;
    color:#606060;
    cursor:auto;
}

.Button {
    position:relative;
    width:72px;
    height:72px;
    margin:2px 0 0 2px;
    background-color:#606060;
    cursor:pointer;
}

.Button.disabled {
    cursor:auto;
}

.Button.disabled:after {
    position:absolute;
    content:"";
    width:100%;
    height:100%;
    background-color:rgba(255,0,0,0.1);
    pointer-events:none;
}

.Button.DisplayButton {
    position:absolute;
    right: 0;
    bottom: 0;
}

.Button.DisplayButton.disabled {
    display:none;
}

.BuildGrid {
    --width: 0px;

    top: 0px;
    left: 100%;
    max-width: var(--width);
}

.Tooltip {
    position:absolute;
    --x:10;
    --y:10;

    left: calc(var(--x) * 1px);
    top: calc(var(--y) * 1px);

    pointer-events:none;
    z-index:1000;

    display:flex;
    flex-direction: row;
    max-width:var(--tooltipWidth);
}

.TooltipInner {
    flex-basis:var(--tooltipWidth);
    flex-grow:1;
    flex-shrink:1;

    padding:8px;
}

.TooltipInner>h1 {
    white-space:nowrap;
    font-size: 18px;
}

.TooltipInner .item {
    color:#FFAA44;
    font-weight:bold;
}

.TooltipIcon {
    --icon: none;

    display:inline-block;
    position:relative;
    /*background-color: white;*/
    height:0.8em;
    width:0.8em;
    bottom: -0.05em;

    background-image: var(--icon);
    background-size: 100% 100%;
    margin:0 2px 0 2px;
}

.ResourceList {
    white-space: nowrap;
}
.ResourceList>span {
    margin-right:3px;
}
.ResourceList .insufficient {
    color:#FF2222;
}

.ResourceListWindow {
    position:absolute;
    top:0;
    left:0;
}
.ResourceDisplay {
    padding:4px;
}
.ResourceIcon {
    width:24px;
    height:24px;
    background-image:var(--icon);
    background-size:100% 100%;
    display:inline-block;
}
.ResourceCounter {
    display:inline-block;
    margin: 0 4px 0 4px;
    width:100px;
    background-color:black;
    padding: 2px 5px 2px 5px;
    position:relative;
    top:-6px;
}

.ProgressBar {
    --progress:0;

    position:relative;
    width:100px;
    height:20px;

    background-color: black;
}

.ProgressBarInner {
    position:absolute;
    width: calc(var(--progress) * 100%);
    height:100%;
    left:0px;
    top:0px;

    transition: width 0.05s;
    transition-timing-function: linear;

    background-color: #AAAAAA;
}

.Floater {
    font-family: "courier new", "courier", monospace;
    font-size: 15px;
    text-align:center;

    color: yellow;
    font-weight: bold;

    text-shadow: 1px 1px black;
}

.ResourcePopup {
    font-family: "courier new", "courier", monospace;
    font-size: 15px;
    text-align:center;

    color: white;
    font-weight: bold;

    text-shadow: 1px 1px black;
}

/* ######################################################################## */

.top { top: 0px; }
.bottom { bottom:0px; }
.left { left:0px; }
.right { right:0px; }
.hidden { display: none; }
.nowrap { white-space:nowrap; }